*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}



.container{
    margin: auto;
    max-width: 1320px;
    margin-top: 50px;
}

.h{
    height: 200px;
}

.p10{
    padding: 10px;
}

.font18{
    font-size: 16px;
}
.ptop{
    padding-top: 10px;
}

.color{
    color: red;
}

.radius{
    border-radius: 10px;
}

.center{
    justify-content: center;
}